div{
    padding: 5px 25px;
    width: 500px;
    border:2px solid black;
    border-radius: 20px;
    margin: auto;
    background-image:url(../nature-background-1600x1200.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
form{
    padding: 10px 10px;
}
input.email{
    border:none;
    padding: 15px;
    background-color:aqua;
    border-radius: 20px;
    width:60% ;
}
input.email:hover{
    background-color: powderblue;
}
input.btn{
    border: 1px solid black;
    padding: 8px;
    background-color: hotpink;
    border-radius: 20px;
    cursor: pointer;
}
input.btn:focus{
    background-color:yellow;
}

